
<mat-toolbar color="accent" style="background-color: #b514ff;;">
  <mat-toolbar-row>    <a mat-button routerLink="/" ><h2>Películas</h2></a>
    <span class="example-spacer"></span>
    <nav class="nav-item">
      <a mat-button routerLink="/modulo2/create" >Crear</a>
      <a mat-button routerLink="/modulo2/top" >Top5</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
