<div class="contenedor" *ngIf="peliculas">
  <div class=" ">
      <div class="table-wrapper">
          <table class="table-responsive-scroll table-web" >
              <thead>
                <tr>
                  <th>Título</th>
                  <th>Clasificación</th>
                  <th>País</th>
                  <th>acciones</th>
                </tr>
              </thead>
              <tbody *ngFor="let element of peliculas; index as idx">
                  <tr>
                      <td>
                          {{element.titulo}}
                      </td>
                      <td>{{element.clasificacion}}</td>
                      <td>{{element.pais}}</td>
                      <td>
                        <div class="icon-button">
                          <a  mat-icon-button color="warn" matTooltip="Editar"
                              [routerLink]="['/modulo2/update', element.id]">
                            <mat-icon>edit</mat-icon>
                          </a>
                          <a  mat-icon-button color="accent"  matTooltip="Eliminar"
                              (click)="eliminar(element.id)">
                            <mat-icon>delete</mat-icon>
                          </a>
                          <a  mat-icon-button color="accent"  matTooltip="Ver detalles"
                              [routerLink]="['/movie', element.id]"
                          >
                            <mat-icon>assignment</mat-icon>
                          </a>
                        </div>
                      </td>
                  </tr>
              </tbody>
          </table>

          <!-- VERSIÓN MOVIL -->

          <table class="table-responsive-scroll table-movil" *ngFor="let element of peliculas; index as i">
              <thead>
                  <tr>
                    <th>Título</th>
                    <th>Clasificación</th>
                    <th>País</th>
                    <th>Acciones</th>
                  </tr>
              </thead>
              <tbody >
                  <tr>
                      <td>
                        {{element.titulo}}
                      </td>
                      <td>{{element.clasificacion}}</td>
                      <td>{{element.pais}}</td>
                      <td>
                        <div class="icon-button">
                          <a mat-icon-button color="warn" [routerLink]="['/update', element.id]">
                            <mat-icon>edit</mat-icon>
                          </a>
                          <a mat-icon-button color="accent" (click)="eliminar(element.id)">
                            <mat-icon>delete</mat-icon>
                          </a>
                        </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <br><br><br>
</div>

