table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.icon-button{
  display: flex;
  align-items: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Tabla */
/* Some basic wrapping and table styles */
* {
box-sizing: border-box;
}
.table-wrapper {
  padding: 25px;
}
table {
width: 100%;
}
table th,
table td {
padding: 8px 10px;
border-bottom: 1px solid #017eb8;
width: 200px;
}
table tr th {
  background: #017eb8;
  width: 100%;
}

table th{
  color: #fff;
}
.table-web{
  display: block;
}
.table-movil{
  display: none;
}
/* Actual responsive styling */
@media (max-width: 767px) {
  .table-responsive-scroll {
    display: block;
  }
  .table-responsive-scroll thead {
    display: block;
    float: left;
  }
  .table-responsive-scroll thead tr,
  .table-responsive-scroll thead th {
    display: block;
  }
  .table-responsive-scroll thead th + th {
    border-top: 0;
  }
  .table-responsive-scroll tbody {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: auto;
    white-space: nowrap;
  }
  .table-responsive-scroll tbody tr {
    display: inline-block;
    border-right: 1px solid #ccc;
  }
  .table-responsive-scroll tbody td {
    display: block;
    border-width: 1px 0 0 0;
  }
  .table-responsive-scroll tbody td:last-child {
    border-bottom-width: 1px;
  }

  .table-web{
    display: none;
  }
  .table-movil{
    display: block;
  }

}
