
footer {
  padding: 50px 0px;
  margin-top: 20px;
  background: #b514ff;
  width: 100%;
  position: absolute;
  bottom: 0;
  .container-footer{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  h3 {
    color: white;
  }
}
