<div class="row container-peliculas">
  <div *ngFor="let pelicula of listaPeliculas; index as i"
        class="col-xs-12 col-sm-6 col-md-3 card-pelicula"
  >
    <app-pelicula (emmitShowDetail)="clickPelicula($event)" [pelicula]="pelicula"></app-pelicula>

  </div>
</div>
