<div class="contenedor" *ngIf="peliculas">
  <div class=" ">
      <div class="table-wrapper">
          <table class="table-responsive-scroll table-web" >
              <thead>
                <tr>
                  <th>Título</th>
                  <th>Clasificación</th>
                  <th>País</th>
                </tr>
              </thead>
              <tbody  *ngIf="top">
                  <tr *ngFor="let element of peliculas; index as idx">
                      <td>
                          {{element.titulo}}
                      </td>
                      <td>{{element.clasificacion}}</td>
                      <td>{{element.pais}}</td>
                  </tr>
              </tbody>
          </table>

          <!-- VERSIÓN MOVIL -->
          <div *ngIf="peliculas">
          <table class="table-responsive-scroll table-movil" *ngFor="let element of peliculas; index as i">
              <thead>
                  <tr>
                    <th>Título</th>
                    <th>Clasificación</th>
                    <th>País</th>
                  </tr>
              </thead>
              <tbody >
                  <tr>
                      <td>
                        {{element.titulo}}
                      </td>
                      <td>{{element.clasificacion}}</td>
                      <td>{{element.pais}}</td>
                  </tr>
              </tbody>
          </table>

        </div>
      </div>
  </div>
  <br><br><br>
</div>

